body{
    background-color: powderblue;
    padding: 1%;
}
header{
    text-align:center;
}
#main{
    text-align:justify;
    padding:1%;
    background-color:lightskyblue;
}
div.pregunta{
    background-color:rgb(80, 80, 170);
    padding: 1%;
}
div.texto, header{
    background-color:rgb(60, 60, 130);
    padding: 2%;
    color: white;
}
img{
    width: 15%;
}